<!DOCTYPE html>
<html>
<head>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <title>Eureka</title>
  <link rel="stylesheet" href="style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">

</head>
<body>
  <h1 id="title"> EUREKA </h1>
  <div id="search">
    <%- include('search-form.ejs') %>
  </div>

</body>

</html>
