<!DOCTYPE html>
<html>
<head>
  <title>Eureka</title>
  <link rel="stylesheet" href="style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">

</head>
<body>
  <h1 id="title"> EUREKA </h1>
  <div id="search">
    <%- include('search-form.ejs') %>
  </div>
  <div id = "quote-div">
    <p>Get your facts first...then you can distort them as you please. — Mark Twain, 1835-1910
  </div>
</body>

</html>
