<!DOCTYPE html>
<html>
<head>
  <title>Eureka</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <!-- <h1 id="title">Go Fish</h1> -->
  <div id="fish_div"><img id="fish" src="images/fish.png" height="100" width="165"></div>
  <div id="search">
    <%- include('search-form.ejs') %>
  </div>

</body>

</html>
