<form action="/search" method="post">
  <div id="form-wrapper">
   <input id="search-bar" type="text" placeholder="Search..." name="searchinput"><br>
   <input id="submit" type="submit" value="Go">
 </div>
</form>
