body {
  background-color: #fff;
  font-family: arial,sans-serif;
  margin: 50px 200px 0px 200px;
}

#title {
  /*border: solid black 1px;*/
  font-family: 'Bungee Hairline', cursive;
  width: 100%;
  text-align: center;
  margin-top: 250px;
  font-size: 80px;
}

#title-results {
  position: relative;
  top: 40px;
  font-family: 'Bungee Hairline', cursive;
  width: 180px;
  font-size: 2.75em;
  font-weight: bold;
}

#search-results {
  float: right;
}

#search-form {
  width: 700px;
  height: 150px;
  margin: 0 auto;
}

form {
  width: 500px;
  height: 45px;
  margin: 0 auto;
}

#search {
  width: 100%;
  padding: 10px;
}

#all-results {
  margin: 50px 0px 150px 0px;
}

#form-wrapper {
  margin: 0 auto;
  height: 40px;
  width: 485px;
}

#search-bar {
  float: left;
	width:380px;
	height:27px;
	line-height:27px;
	font-family:arial, sans-serif;
  text-indent:10px;
	font-size:1em;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-right:solid 1px #c0c0c0;
}

#submit {
  border: solid darkgray 1px;
  float: right;
	cursor: pointer;
	width:90px;
	height: 29px;
	font-size: 12px;
  font-weight: bold;
  background-color: #FFA500;
  margin-top: -17px;
}

#submit:hover {
  background-color: #ffb646;
}

.result {
  margin: 15px auto;
}

#weburl {
  color: green;
}

#description {
  color: #696969;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

#quote-div {
  position: relative;
  /*border: solid green 1px;*/
  color: lightgray;
  text-align: center;
  /*margin: 0 auto;*/
  width: 100%;
  bottom:10px;
  height:60px;   /* Height of the footer */
}
