body {
  /*margin: 50px;*/
  background-color: white;
  font-family: arial,sans-serif;
}

#title {
  font-family: 'Bungee Hairline', cursive;
  /*border: solid black 1px;*/
  width: 100%;
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
}

#title-results {
  position: fixed;
  font-family: 'Bungee Hairline', cursive;
  /*border: solid black 1px;*/
  width: 125px;
  font-size: 2.75em;
  top: 100px;
}

#search-form {
  position: relative;
  /*border: solid blue 1px;*/
  width: 700px;
  height: 100px;
  padding-top: 100px;
  margin: 0 auto;
}

form {
  /*border: solid red 1px;*/
  width:100%;
  text-align: center;
  margin: 0 auto;
  margin-left: 100px;
}

#search {
  /*border: solid green 1px;*/
  margin: auto;
  width: 100%;
  padding: 10px;
}

#form-wrapper {
  /*border: solid pink 1px;*/
  margin: 0 auto;
  /*height: 15px;*/
  width: 600px;
  padding-right: 300px;

}

#search-bar {
  display: inline;
	width:380px;
	height:27px;
	line-height:27px;
	font-family:arial, sans-serif;
  text-indent:10px;
	font-size:1em;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-right:solid 1px #c0c0c0;
}

#submit {
  position: relative;
  display:inline;
  float: right;
	cursor: pointer;
	width: 90px;
	height: 29px;
	font-size: 12px;
  /*text-align: center;*/
  font-weight: bold;
  border: none;
  background-color: #FFA500;
  color: white;
  margin-top: -30px;
  margin-left: 8px;
}

#submit:hover {
  background-color: #ffb646;
}

.result {
  margin: 15px auto;
}

#weburl {
  color: green;
}

#description {
  color: #696969;
  font-size: 14px;
}

#result-title {
  text-decoration: none;
  font-size: 20px;
}

#result-title:hover {
  text-decoration: underline;
}
