body {
  background-color: #fff;
  font-family: arial,sans-serif;
  margin: 50px 150px 0px 150px;
}

#title {
  /*border: solid black 1px;*/
  font-family: 'Bungee Hairline', cursive;
  width: 100%;
  text-align: center;
  margin-top: 200px;
  font-size: 80px;
}

#search {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

#title-results {
  position: relative;
  top: 40px;
  font-family: 'Bungee Hairline', cursive;
  width: 180px;
  font-size: 2.75em;
  font-weight: bold;
  padding-right: 50px;
}

#title-link {
  color: black;
  text-decoration: none;
}

#search-results {
  float: right;
}

#search-form {
  width: 885px;
  height: 150px;
  margin: 0 auto;
}

form {
  width: 500px;
  height: 45px;
  margin: 0 auto;
}

#all-results {
  margin: 25px 0px 150px 0px;
}

#all-results p {
  color: lightgray;
  padding: -20px 0px 20px 0px;
  margin-bottom: 40px;
}

#form-wrapper {
  height: 40px;
  width: 485px;
  float: right;
}

#search-bar {
  float: left;
	width:380px;
	height:27px;
	line-height:27px;
	font-family:arial, sans-serif;
  text-indent:10px;
	font-size:1em;
	background: #fff;
	border:solid 1px #d9d9d9;
	border-top:solid 1px #c0c0c0;
	border-right:solid 1px #c0c0c0;
}

#submit {
  float: right;
	cursor: pointer;
	width: 90px;
	height: 29px;
	font-size: 12px;
  font-weight: bold;
  background-color: #FFA500;
  border: none;
  margin-top: -17px;
}

#submit:hover {
  background-color: #ffb646;
}

.result {
  margin: 15px auto;
}

#weburl {
  color: green;
}

#description {
  color: #696969;
  font-size: 18px;
}

#result-title {
  text-decoration: none;
  font-size: 22px;
}

#keywords {
  font-size: 14px;
  color: gray;
}

#result-title:hover {
  text-decoration: underline;
}

#quote-div {
  position: relative;
  color: lightgray;
  text-align: center;
  width: 100%;
  bottom:10px;
  height:60px;
  margin-top: 500px;
}
